<!doctype html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://unpkg.com/eventemitter3@latest/umd/eventemitter3.min.js"></script>

    <style class="nodestoFont">
    </style>

    <style class="pathfinder2eActionsFont">
    </style>

    <script src="https://cdn.jsdelivr.net/gh/ardittristan/VTTExternalActorSite/distOne/fontawesome.js"></script> {{!-- you can put your own repo link to the fontawesome.js file here if you want, doing it this way severely shrinks the output size --}}
    <link rel="icon" type="image/svg+xml"href="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/dice-d20.svg" />

    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>

  <body style="background-color: #2f2f2f;">
    <div>
      <div class="formDiv">
        <form id="siteUrlForm" onsubmit="event.preventDefault()">
          <input type="text" id="siteUrl" placeholder="Actor url" />
          <button type="submit">Show Actor Sheet</button>
        </form>
      </div>
      <div class="titleDiv">
        Foundry&nbsp;Character Viewer
      </div>
    </div>
    <section class="window-content"></section> {{!-- this is where the editor will appear --}}
  </body>

</html>
