@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-image: var(--denim);
  background-repeat: repeat;
  background-size: auto;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  box-shadow: 0 0 50vw #000 inset;
}
body.background {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner {
  position: fixed;
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
  top: 28vh;
  text-align: center;
  padding: 2px 0.5em;
  background: goldenrod;
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}
h1,
h2,
h3,
h4 {
  margin: 0 0 0.5rem;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 2em;
  border-bottom: 2px solid #782e22;
}
h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #782e22;
}
h3 {
  font-size: 1.125em;
}
a {
  cursor: pointer;
}
a[href] {
  color: #ff6400;
}
a:hover {
  text-shadow: 0 0 8px red;
}
a.entity-link,
a.inline-roll {
  background: #DDD;
  padding: 1px 4px;
  border: 1px solid #4b4a44;
  border-radius: 2px;
  white-space: nowrap;
  word-break: break-all;
}
a.entity-link i,
a.inline-roll i {
  color: #7a7971;
}
a.entity-link.broken {
  background: rgba(255, 0, 0, 0.05);
  border: 1px dashed red;
}
a.inline-roll.gmroll {
  background: #e8e8ef;
  border-color: #545469;
}
a.inline-roll.blindroll {
  background: #f5eaf5;
  border-color: #6b476b;
}
p {
  margin: 0.5em 0;
}
::selection {
  background: #c9c7b8;
}
ul,
ol {
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}
hr {
  border: none;
  border-top: 1px solid #b5b3a4;
  border-bottom: 1px solid #f0f0e0;
}
blockquote {
  margin: 0.5em 0 0.5em 10px;
  padding: 0 0 0 20px;
  border-left: 3px solid #7a7971;
  font-style: italic;
}
blockquote em {
  font-style: normal;
}
section.secret {
  padding: 0 5px;
  background: rgba(53, 0, 121, 0.05);
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  margin: 0.5em 0;
}
table thead {
  background: rgba(0, 0, 0, 0.5);
  color: #f0f0e0;
  text-shadow: 1px 1px #000;
  border-bottom: 1px solid #000;
}
table thead th {
  padding: 0.25em 0;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #782e22;
  border: 1px solid #ff6400;
}
:root {
  scrollbar-width: thin;
  scrollbar-color: #782e22 #111;
}
img {
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 2px;
  max-width: 100%;
}
img.noborder {
  border: none;
  box-shadow: none;
  outline: none;
}
.window-content {
  background: var(--denim) repeat;
  border-radius: 5px;
  box-shadow: 0 0 20px #000;
  margin: 3px 0;
  padding: 0.5em;
  color: #f0f0e0;
  z-index: 30;
}
#context-menu {
  width: 100%;
  height: max-content;
  min-width: 150px;
  max-width: 360px;
  position: absolute;
  left: 0;
  background: #23221d;
  border: 1px solid #000;
  border-radius: 5px;
  color: #EEE;
  z-index: 31;
}
#context-menu.expand-down {
  top: calc(100% + 2px);
}
#context-menu.expand-up {
  bottom: calc(100% + 2px);
}
#context-menu ol.context-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
#context-menu li.context-item {
  padding: 0 5px;
  line-height: 32px;
}
#context-menu li.context-item:hover {
  color: #FFF;
  text-shadow: 0 0 4px red;
}
#context-menu li.context-item > i {
  margin-right: 5px;
}
form .form-group,
form .form-group-stacked {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 0;
}
form .form-group > * {
  flex: 3;
}
form .form-group > label {
  flex: 2;
}
form .form-group label {
  line-height: 24px;
}
form .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
form .form-group .form-fields > * {
  flex: 1;
  margin: 0 3px 0 0;
}
form .form-group .form-fields > *:last-child {
  margin-right: 0;
}
form .form-group .form-fields > label {
  flex: 0;
  padding: 0 4px;
  text-align: center;
}
form .form-group .form-fields > label.checkbox {
  padding: 0;
}
form .form-group .form-fields > input[type="checkbox"] {
  flex: 0 0 20px;
}
form .form-group .form-fields button {
  flex: 0;
  margin: -2px 0;
  line-height: 22px;
}
form .form-group span.units {
  flex: 0;
  line-height: 28px;
  font-size: 12px;
  color: #4b4a44;
}
form .form-group-stacked > *,
form .form-group.stacked > * {
  flex: 0 0 100%;
}
form .form-group.hidden {
  display: none;
}
form .form-header {
  margin: 0;
  color: #23221d;
}
form .notes,
form .hint {
  flex: 0 0 100%;
  font-size: 12px;
  line-height: 16px;
  color: #4b4a44;
  margin: 3px 0;
}
input:focus {
  outline: none;
}
input[type="text"],
input[type="password"],
input[type="datetime-local"] {
  width: calc(100% - 2px);
  min-width: 20px;
  height: 24px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7a7971;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus {
  box-shadow: 0 0 5px red;
}
input[type="checkbox"] {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin: 3px 5px;
}
input[type="checkbox"]:checked {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
label.checkbox {
  flex: auto;
  padding: 0;
  margin: 0;
  height: 22px;
  line-height: 22px;
  font-size: 11px;
}
label.checkbox > input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 0;
  position: relative;
  top: 4px;
}
label.checkbox.right > input[type="checkbox"] {
  margin: 0 0 0 2px;
}
select {
  height: 25px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 3px;
  padding: 0 3px;
  text-overflow: ellipsis;
}
select:focus {
  box-shadow: 0 0 5px red;
  outline: none;
}
textarea {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #000;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
textarea:focus {
  outline: 2px solid #782e22;
  box-shadow: 0 0 10px #ff6400;
}
button {
  width: 100%;
  margin: 0 1px;
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid #b5b3a4;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
}
button:hover,
button:focus {
  outline: none;
  box-shadow: 0 0 5px red;
}
button:disabled {
  color: #4b4a44;
  box-shadow: none;
}
button > i {
  margin-right: 3px;
}
form button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
}
input:disabled {
  border: none;
  color: #4b4a44;
}
input:disabled:hover {
  border: none;
  box-shadow: none;
  outline: none;
}
input::placeholder {
  color: #4b4a44;
  opacity: 1;
}
input[type="text"].color {
  flex: 1.45;
}
input[type="color"][data-edit] {
  height: 24px;
  background: transparent;
  border: 2px groove #f0f0e0;
}
input[type="color"][data-edit][data-edit] {
  margin-left: 5px;
  flex: 1.45;
}
button.file-picker {
  flex: 0 0 24px;
  line-height: 24px;
  margin: -1px 0 -1px 4px;
  order: 99;
}
button.file-picker + input[type="text"] {
  height: 28px;
  margin-right: 5px !important;
}
input[type=range] {
  background: transparent;
  -webkit-appearance: none;
  width: 100%;
  margin: 3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #999999;
  border-radius: 3px;
  border: 1px solid #111;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background: #c85019;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a6a6a6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #999999;
  border-radius: 3px;
  border: 1px solid #111;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background: #c85019;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #8c8c8c;
  border: 1px solid #111;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #999999;
  border: 1px solid #111;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background: #c85019;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #999999;
}
input[type=range]:focus::-ms-fill-upper {
  background: #a6a6a6;
}
input[type="range"] + .range-value {
  display: block;
  flex: 0 1 48px;
  text-align: center;
  border: 1px solid #b5b3a4;
  padding: 2px;
  margin-left: 10px;
}
.dark button {
  background: rgba(255, 255, 240, 0.8);
  border: 2px solid #c9c7b8;
}
.dark input,
.dark select {
  background: rgba(255, 255, 240, 0.8);
}
.editor {
  position: relative;
  max-height: 100%;
}
.editor-content * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.editor-edit {
  display: none;
  font-size: 1.25em;
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(187, 187, 187, 0.75);
  border: 1px solid #111;
  border-radius: 4px;
  padding: 1px 2px;
  box-shadow: 0 0 1px #000;
}
.editor:hover .editor-edit {
  display: block;
}
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexrow > *,
.flexcol > * {
  flex: 1;
}
.flexrow > .flex0,
.flexcol > .flex0 {
  display: block;
  flex: 0;
}
.flexrow > .flex1,
.flexcol > .flex1 {
  flex: 1;
}
.flexrow > .flex2,
.flexcol > .flex2 {
  flex: 2;
}
.flexrow > .flex3,
.flexcol > .flex3 {
  flex: 3;
}
.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tabs > * {
  flex: 1;
}
.tabs > .flex0 {
  display: block;
  flex: 0;
}
.tabs > .flex1 {
  flex: 1;
}
.tabs > .flex2 {
  flex: 2;
}
.tabs > .flex3 {
  flex: 3;
}
.tabs .item {
  text-align: center;
}
.tabs .item.active {
  text-shadow: 0 0 10px red;
}
.tab[data-tab] {
  display: none;
}
.tab[data-tab].active {
  display: block;
}
.tab[data-tab].active.flexrow,
.tab[data-tab].active.flexcol {
  display: flex;
}
.editor-content {
  height: 100%;
  overflow-y: auto;
}
.body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
* {
  flex: 1;
}
.flex0 {
  display: block;
  flex: 0;
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}
.sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sheet-header > * {
  flex: 1;
}
.sheet-header > .flex0 {
  display: block;
  flex: 0;
}
.sheet-header > .flex1 {
  flex: 1;
}
.sheet-header > .flex2 {
  flex: 2;
}
.sheet-header > .flex3 {
  flex: 3;
}
.sheet-header img {
  flex: 0 0 64px;
  height: 64px;
  margin-right: 6px;
}
.sheet-header h1 {
  flex: 1;
  margin: 0;
  border-bottom: none;
}
.sheet-header h1 input {
  height: 48px;
  line-height: 48px;
  margin: 8px 2%;
  width: 96%;
}
