<div class="tab biography" data-group="primary" data-tab="biography">
  <ul class="directory-list">
    <li class="action-header">
      <h3 class="item-name pf-heading">{{stringify 'PF2E.BiographyPublicHeading'}}</h3>
    </li>
    <li class="biography-content" style="min-height: 200px;">
      <div class="editor">
        <div class="editor-content">{{{data.details.biography.public}}}</div>
      </div>
    </li>
    <li class="action-header">
      <h3 class="item-name pf-heading">{{stringify 'PF2E.BiographyPrivateHeading'}}</h3>
    </li>
    <li class="biography-content" style="min-height: 200px;">
      <div class="editor">
        <div class="editor-content">{{{data.details.biography.value}}}</div>
      </div>
    </li>
  </ul>
</div>
